$dark: #181E37;
$cream: #EFF7CF;
$orange: #F4956F;
$green: #DAE58A;
$purple: #CAB8FF;
$darkpurple: #5326D7;
$blue : #A8CFC7;
$grey : #6E6A7C;


@keyframes content-in {
  from {
      transform: translateY(2rem) scale(0.8);
  }
  to {
      transform: translateY(0) scale(1);
  }
}

@keyframes userAppear {
  from {
      opacity: 0;
      transform: translate(1rem, 1rem);
  }
  to {
      opacity: 1;
      transform: translate(0, 0);
  }
}