.sign-in, .sign-up{
  padding: 1.25rem;
  width: 100%;
}

.login{
  background-color: variables.$orange;
  h2{
    text-align: left;
    padding:2rem 2.25rem 3.25rem 2.25rem;
  }
  form{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding:0 2.25rem;

  }
  .input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .input-remember{
    input[type="checkbox"]{
      background-color: variables.$cream;
      border: 1px solid variables.$orange;
      border-radius: 50%;
    }
  }
}



.sign-in{
  background-color: variables.$cream;
  border-bottom-left-radius: 100px;
  position: relative;
  &::after{
    content: url("../img/corner-rigth-top.svg");
    position: absolute;
    right: 0;
    bottom: -102px;
    width: 10%;
    z-index: 10;
  }
  input{ 
    background-color: variables.$orange;
  }
}


.sign-up{

input{
  background-color: variables.$cream;
}
}

// input[type='checkbox']{
//   background-color: variables.$cream;
//   border: 1px solid variables.$orange;
// }

// input:checked{
//   border: none;
//   outline: 2px solid variables.$orange
// }