button {
	background-color: variables.$orange;
	color: variables.$cream;
	font-weight: bold;
	border-radius: 1.25rem;
	display: flex;
	width: 150px;
	height: 40px;
	transition: all 3s ease-in-out;
	:hover {
		background-color: variables.$purple;
	}
}

button[aria-pressed="true"] {
	background-color: variables.$purple;
}
