button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	gap: 1rem;
	border: none;
	font-weight: bold;
	border-radius: 1.25rem;
	background-color: variables.$cream;
	transition: all .3s ease-in-out;
	@media screen and (max-width: 425px) {
		padding: 1rem;
	}
	span{
		flex-shrink: 0;
	}
	&:hover {
		background-color: variables.$green;
		color: variables.$darkpurple;
	}
}

button[aria-pressed="true"] {
	background-color: variables.$purple;
}

.sign-in-btn, .start-button {
	background-color: variables.$orange;
}

.sign-up-btn{
	background-color: variables.$cream;
}

.start-button{
	font-weight: bold;
}

.small-btn{
	width: fit-content;
	background-color: transparent;
	font-size: 1.25rem;
	border: none;
	border-radius: 50%;
	padding: 0;
	&:hover {
		background-color: transparent;
		color: variables.$darkpurple;
	}
}

.toggle-btn{
	width: 11rem;
	height: 2.25rem;
}
