.start-button {
	background-color: variables.$orange;
	color: variables.$cream;
	font-weight: bold;
	border-radius: 1.25rem;
	display: flex;
  width: 150px;
  height: 40px;

	img {
		height: 1.25rem;
	}
}
