.input-wrapper {
  display: flex;
  text-align: left;
  label {
      font-weight: bold;
      color: variables.$grey;
  }
  input {
      padding: 0.313rem;
      font-size: 1.2rem;
      border-radius: 25px;
  }
}