.todo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.25rem;
	padding: 1.25rem;
	position: relative;
	background-color: variables.$cream;
	border-radius: 1.5rem;
	.c-cb {
		display: flex;
		align-items: center;
		gap: 2rem;
	}
	.btn-group {
		display: flex;
		align-items: center;
		gap: 2rem;
	}
}

.editing {
	display: flex;
	flex-direction: row;
	input {
		color: variables.$orange;
		border-radius: 15px;
	}
}
