.todo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.25rem;
	padding: 1.25rem;
	position: relative;
	background-color: variables.$cream;
	border-radius: 1.5rem;
	.c-cb {
		display: flex;
		align-items: center;
		gap: 2rem;
	}
	.btn-group {
		display: flex;
		align-items: center;
		gap: 2rem;
	}
}

.editing{
	display: flex;
	flex-direction: row;
	input{
		border: 1px solid grey;
		border-radius: 15px;
	}
}

input[type="checkbox"]:checked + .todo-label {
	color: #c0c0c0;
	text-decoration: line-through;
}

// 	.edit {
// 		display: flex;
// 		align-items: center;
// 		gap: 1rem;
// 	}

// 	&::before {
// 		content: "";
// 		position: absolute;
// 		bottom: 1px;
// 		height: 1px;
// 		background-color: variables.$orange;
// 		width: 95%;
// 		@media screen and (min-width: 1440px) {
// 			width: 97%;
// 		}
// 		@media screen and (max-width: 425px) {
// 			width: 90%;
// 		}
// 	}
// }

// input[type="checkbox"] {
// 	-webkit-appearance: none;
// 	appearance: none;
// 	margin: 0;
// 	display: grid;
// 	place-content: center;
// 	font: inherit;
// 	color: variables.$dark;
// 	width: 1.15rem;
// 	height: 1.15rem;
// 	border: 0.15rem solid variables.$dark;
// 	border-radius: 50%;
// 	transform: translateY(-0.075em);
// }

// input[type="checkbox"]::before {
// 	content: "";
// 	width: 0.65rem;
// 	height: 0.65rem;
// 	border-radius: 50%;
// 	transform: scale(0);
// 	transition: 120ms transform ease-in-out;
// 	box-shadow: inset 1rem 1rem variables.$orange;
// }

// input[type="checkbox"]:checked {
// 	border: 0.15rem solid variables.$orange;
// 	&::before {
// 		transform: scale(1);
// 	}
// }
